# Etude du DF total

## Importer les librairies

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Importer le DF

In [18]:
df= pd.read_csv("gaming_total.csv", index_col=0)
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,...,game_mode_wiki,Rank_y,test_note_JVC,avis_count_JVC,avis_note_JVC,Classification_Age_JVC,max_joueurs_JVC,Mode_JVC,Support_JVC,Langue_JVC
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,...,Un joueur\nMultijoueur (de 2 à 4),1,14,(687),13.8,+7 ans,Jusqu'à 4 joueurs,NaN,DVD,Voix en français Textes en français
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,...,NaN,2,19,(3),19,+3 ans,NaN,Jouable en solo,eShop Console Virtuelle Cartouche,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,...,Local\n1 à 4 joueurs\nEn ligne (jusqu'au 20 ma...,3,16,(3023),17.4,+3 ans,"4 joueurs en écran partagé, 12 joueurs online",Multi sur le même écran Multi en ligne,DVD,NaN
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,...,NaN,4,15,(581),16.5,+3 ans,Jusqu'à 4 joueurs,NaN,DVD,Voix en français Textes en français
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,...,NaN,5,no_data,no_data,no_data,NaN,NaN,NaN,NaN,NaN

In [23]:
df=df.drop(['Rank_x', 'Rank_y'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16472 entries, 0 to 16471
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    16472 non-null  object
 1   Platform                16472 non-null  object
 2   Year                    16201 non-null  float64
 3   Genre                   16472 non-null  object
 4   Publisher               16414 non-null  object
 5   NA_Sales                16472 non-null  float64
 6   EU_Sales                16472 non-null  float64
 7   JP_Sales                16472 non-null  float64
 8   Other_Sales             16472 non-null  float64
 9   Global_Sales            16472 non-null  float64
 10  developpeur_goo         1487 non-null   object
 11  distributeur_goo        14 non-null     object
 12  langue_goo              73 non-null     object
 13  PEGI_goo                501 non-null    object
 14  game_series_goo         511 non-null    object
 15  game_mode_goo           839 non-null    object
 16  developpeur_wiki        3085 non-null   object
 17  langue_wiki             1432 non-null   object
 18  PEGI_wiki               1081 non-null   object
 19  game_mode_wiki          2828 non-null   object
 20  test_note_JVC           13771 non-null  object
 21  avis_count_JVC          13771 non-null  object
 22  avis_note_JVC           13771 non-null  object
 23  Classification_Age_JVC  7014 non-null   object
 24  max_joueurs_JVC         4119 non-null   object
 25  Mode_JVC                3878 non-null   object
 26  Support_JVC             7281 non-null   object
 27  Langue_JVC              4552 non-null   object
dtypes: float64(6), object(22)
memory usage: 3.6+ MB

## Taux de doublons

In [24]:
duplicates = df.duplicated()
print('Il y a', sum(duplicates), 'doublons dans le jeu de données.')

missing_values = df.isnull().mean() * 100

print('Taux de valeurs manquantes pour chaque colonne :\n', round(missing_values, 2))

Il y a 1 doublons dans le jeu de données.
Taux de valeurs manquantes pour chaque colonne :
 Name                       0.00
Platform                   0.00
Year                       1.65
Genre                      0.00
Publisher                  0.35
NA_Sales                   0.00
EU_Sales                   0.00
JP_Sales                   0.00
Other_Sales                0.00
Global_Sales               0.00
developpeur_goo           90.97
distributeur_goo          99.92
langue_goo                99.56
PEGI_goo                  96.96
game_series_goo           96.90
game_mode_goo             94.91
developpeur_wiki          81.27
langue_wiki               91.31
PEGI_wiki                 93.44
game_mode_wiki            82.83
test_note_JVC             16.40
avis_count_JVC            16.40
avis_note_JVC             16.40
Classification_Age_JVC    57.42
max_joueurs_JVC           74.99
Mode_JVC                  76.46
Support_JVC               55.80
Langue_JVC                72.37
dtype: float64

## Nombre de modalités pour chaques variables

In [25]:
for col in df.columns:
   print(col,':' ,df[col].nunique())

Name : 11443
Platform : 31
Year : 39
Genre : 12
Publisher : 576
NA_Sales : 409
EU_Sales : 305
JP_Sales : 244
Other_Sales : 157
Global_Sales : 623
developpeur_goo : 848
distributeur_goo : 7
langue_goo : 36
PEGI_goo : 240
game_series_goo : 268
game_mode_goo : 104
developpeur_wiki : 977
langue_wiki : 240
PEGI_wiki : 37
game_mode_wiki : 267
test_note_JVC : 21
avis_count_JVC : 540
avis_note_JVC : 183
Classification_Age_JVC : 8
max_joueurs_JVC : 813
Mode_JVC : 44
Support_JVC : 527
Langue_JVC : 28

## Analyse des corrélations entre les variables

In [26]:
display(df.corr())

C:\Users\debor\AppData\Local\Temp\ipykernel_64612\1935556122.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  display(df.corr())

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Year,1.000000,-0.091635,0.006153,-0.169769,0.040988,-0.074927
NA_Sales,-0.091635,1.000000,0.767894,0.449513,0.634770,0.941060
EU_Sales,0.006153,0.767894,1.000000,0.435631,0.726372,0.902900
JP_Sales,-0.169769,0.449513,0.435631,1.000000,0.290024,0.611696
Other_Sales,0.040988,0.634770,0.726372,0.290024,1.000000,0.748303
Global_Sales,-0.074927,0.941060,0.902900,0.611696,0.748303,1.000000